* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Times New Roman";
}
:root {
  --rainbow: black,white,black; /*perfect*/
  --reverse-rainbow: white,black,white; /*perfect*/
  --header-background: gray;
  --background-color-1: black;
  --background-color-2: gray;
  --footer-background-color-1: black;
  --footer-background-color-2: gray;
  --hover-color: gray;
  --text-color: white;
  --text-shadow: black;
  --welc-message-text-size: 50px;
  --intro-text-size: 30px;
  --nav-background: black;
  --btn-background-color: gray;
  --btn-text-color: black;
  --btn-text-shadow: white;
  --login-btn-background-color: black;
  --login-btn-text-color: white;
}
html {
    background-image: linear-gradient(to top right, var(--background-color-1), var(--background-color-2));
}
.rainbow {
    height: 20px;
    background-image: linear-gradient(to right, gray, var(--rainbow),gray);
    border-bottom: 1px solid black;
}
.wh-row {
    background-image: linear-gradient(to right, black, var(--reverse-rainbow),black);
    height: 10px;
    width: 100%;
    border-bottom: 1px solid black;
}
.fl-left {
    float: left;
}
.fl-right {
    float: right;
}
.clear {
    clear: both;
}
/**************************************
*********LANDING PAGE******************
**************************************/
.landing-flex-container {
    display: flex;
    flex-direction: row;
    height: 50vh;
}
.landing-center {
    width: 50%;
    background-image: linear-gradient(to top right, var(--background-color-1), var(--background-color-2));
    height: 100%;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
.welc-message {
    font-size: var(--welc-message-text-size);
    text-shadow: 2px 2px var(--text-shadow);
    margin: 30px;
    color: var(--text-color);
}
.intro-text {
    font-size: var(--intro-text-size);
    text-shadow: 2px 2px var(--text-shadow);
    color: var(--text-color);
    text-align: center;
    margin-bottom: 30px;
}
.center {
    padding: 15px 0;
    text-align: center;
}
.left-pic {
    width: 25%;
    height: 100%;
    border-radius: 25px;
}
.right-pic {
    width: 25%;
    height: 100%;
    border-radius: 25px;
}
.landing-center-message {
    width: 50%;
    background-image: linear-gradient(to top right, var(--background-color-1), var(--background-color-2));
    height: 100%;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--text-color);
}
/**************************************
***************HEADER AND NAV**********
**************************************/
.main-header {
    background-image: linear-gradient(to right, gray, var(--rainbow),gray);
    margin: 0px;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.header-text {
    border: 2px solid black;
    border-radius: 25px;
    font-size: 40px;
    margin: auto;
    text-shadow: 2px 2px var(--text-shadow);
    width: 30%;
    color: var(--text-color);
    background: var(--header-background);
}
.nav-a {
    color: var(--text-color);
    font-weight: bold;   
	text-decoration: none;
}
.nav-a:hover {
    color: var(--hover-color);
}
.nav-bar {
	text-decoration: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    font-size: 20px;
    background-color: var(--nav-background);
    padding-top: 5px;
	padding-bottom: 5px;
    border-bottom: 1px solid black;
}
/**************************************
***************FOOTER**************
**************************************/
.footer {
    width: 100%;
    font-size: 30px;
    text-align: center;
    background-image: linear-gradient(to top right, var(--footer-background-color-1), var(--footer-background-color-2));
    padding-bottom: 2%;
    padding-top: 2%;
    border-bottom: 1px solid black;
    text-shadow: 2px 2px var(--text-shadow);
    color: var(--text-color);
}
/*************************************
***************MENUS******************
*************************************/
.menu-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
	flex-wrap: wrap;
}
.menu-title {
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px var(--text-shadow);
    color: var(--text-color);
}
.menu-box {
    height: 215px;
    width: 28%;
    border: 2px solid white;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--background-color);
    margin: 15px;
}
.object-title {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 2px 2px var(--text-shadow);
    color: var(--text-color);
}
.menu-screenshots {
    height: 150px;
    width: 100%;
    border-radius: 25px;
}
.menu-links {
    text-decoration: none;
}
/**************************************
***************MOBILE******************
**************************************/
@media screen and (max-width: 600px) {
/**************************************
**********LANDING PAGE*****************
**************************************/
    .header-text {
        width: 90%;
    }
    .welc-message {
        font-size: 25px;
        padding-top: 0;
    }
    .intro-text {
        font-size: 20px;
    }
    .right-pic {
        display: none;
        width: 0%;
    }
    .left-pic {
        display: none;
        width: 0%;
    }
    .flex-container {
        display: flex;
        flex-direction: row;
    }
    .landing-center {
        width: 100%;
        height: 100%;
    }
/*************************************
***************FOOTER******************
*************************************/
.footer {
    width: 100%;
    font-size: 20px;
}
/***************************************
***************MENU*********************
***************************************/
    .menu-flex-container {
        display: flex;
        flex-direction: column;
    }
    .menu-title {
        text-align: center;
        font-weight: bold;
        font-size: 150%;
    }
    .menu-box {
        width: 90%;
        border: 2px solid black;
        border-radius: 25px;
        margin: 5px;
        margin-bottom: 10px;
    }
    .menu-screenshots {
        height: 70%;
        width: 100%;
        border-radius: 25px;
    }
}
